@*https://github.com/AspNetMonsters/Blazor.Geolocation*@
@*Don't foget to add Location.js to wwwroot and reference it in the index.html*@
@*===========================================================================*@

@using AspNetMonsters.Blazor.Geolocation

@page "/"

@inject LocationService  LocationService

<h1>Hello, location!</h1>

<div style="border-bottom-width:thin;">
    Latitude: @location?.Latitude.ToString() <br />
    Longitude: @location?.Longitude.ToString() <br />
    Accuracy: @location?.Accuracy <br />
    Position: @position
</div>

@*https://github.com/AspNetMonsters/Blazor.Geolocation/issues/14*@
@*https://github.com/djaus2/Blazor.Geolocation/commit/f2b39e72a941bd2228fc695a02b1d51b273d7531*@

@code {

    Location location = null;
    private string position = string.Empty;

    protected async Task GetLocation()
    {
        await LocationService.WatchLocation(OnWatchLocationCallback);

        location = await LocationService.GetLocationAsync();
        position = $"{location.Latitude} - {location.Longitude} - {location.Accuracy}";

        this.StateHasChanged();

    }

    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (first)
        {
            base.OnAfterRender(first);
            await GetLocation();

        }
    }
    private void OnWatchLocationCallback(Location obj)
    {
        position = $"{obj.Latitude} - {obj.Longitude} - {obj.Accuracy}";
    }
}

@*Do further: https://github.com/AspNetMonsters/Blazor.Geolocation/issues/3*@
